body {
  background-color: #ECF0F1;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  padding: 1em;
}

h1 {
  font-family: 'Roboto Mono';
  color: #E74C3C;
  font-size: 4.236em;
  margin-top: 21px;
  margin-bottom: 21px;
}

a:visited, a:link {
  color: #2980B9;
  text-decoration: none;
}

a.nav:hover, a.nav:focus {
  color: #3498DB;
}

article, nav, h2, footer {
  font-family: 'Josefin Sans', sans-serif;
  color: #2C3E50;
}

h2 {
  font-size: 2.618em;
  margin-top: 13px;
  margin-bottom: 13px;
}

h3 {
  font-size: 1.618em;
  margin-top: 8px;
  margin-bottom: 8px;
}

article {
  font-size: 1em;
}

ul {
  padding-left: 40px;
}

.Experience li {
  list-style: square;
}

footer {
  margin-top: 50px;
}
