<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Student Wrangling</title>
  <link rel="stylesheet" type="text/css" href="styles.min.css">
</head>
<body data-ng-app="StudentApp">
  <h1>This is my angular crud ... for students</h1>
  <main data-ng-controller="StudentsController" data-ng-init="getAll()">
    <form name="newStudentForm" data-ng-submit="create(newStudent)">
      <h2>New Student:</h2>
      <label for="newStudentName">Name: </label>
      <input type="text" id="newStudentName" required data-ng-model="newStudent.name">

      <label for="newStudentColor">Color: </label>
      <input type="text" id:="newStudentColor" data-ng-model="newStudent.color" placeholder="rainbow">

      <label for="newStudentSpecies">Species: </label>
      <input type="text" id="newStudentSpecies" data-ng-model="newStudent.species">

      <button type="submit" data-ng-disabled="newStudentForm.$invalid">Create New Student!!!</button>
    </form>
    <ul id="studentlist">
      <li data-ng-repeat="student in students">
        {{student.name}}
        <form name="studentForm{{student._id}}" data-ng-submit="update(student)" data-ng-if="student.editing">
          <h2>New Student:</h2>
          <label for="studentName{{student._id}}">Name: </label>
          <input type="text" id="studentName{{student._id}}" required data-ng-model="student.name">

          <label for="studentColor{{student._id}}">Color: </label>
          <input type="text" id:="studentColor{{student._id}}" data-ng-model="student.color" placeholder="rainbow">

          <label for="studentSpecies{{student._id}}">Species: </label>
          <input type="text" id="studentSpecies{{student._id}}" data-ng-model="student.species">

          <button type="submit">Place Student In Student Witness Protection</button>
          <button data-ng-click="student.editing = false">This Student Does Not Deserve Protection</button>
        </form>
        <button data-ng-if="!student.editing" data-ng-click="student.editing = true">This Student has seen too much!  New identity!</button>
        <button data-ng-if="!student.editing" data-ng-click="remove(student)">Murdering Students</button>
      </li>
    </ul>

  </main>
  <script src="/bundle.js"></script>
</body>
</html>
